# env
.venv/
venv/

# notebooks
.ipynb_checkpoints/

# data
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/raw/README.md
!data/interim/README.md
!data/processed/README.md

# misc
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db

etl_log.txt